# Archivos ignorados al construir la imagen Docker
.git
.gitignore
.idea
.vscode
node_modules
vendor
*.log
*.cache
.env
.env.*
!.env.example
docker-compose.yml
docker-compose.*.yml
README.md
LICENSE
.dockerignore
Dockerfile